@import 'ColorScheme.scss';

.formTextField {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 10px;
  margin: auto;

  label {
    font-size: 0.9rem;
    color: #141414;
    padding-block: 5px;
  }

  input {
    width: 90%;
    border-radius: 15px;
    outline: none;
    height: 40px;
    border: 1px solid #141414;
    font-size: 15px;
    padding: 5px 10px 5px 20px;

    &:focus {
      border: 1px solid $secondary-color;
    }

  }
}