@use 'ColorScheme' as scheme;

#homepageContainer {
  width: 100%;
  height: 90vh;
  display: block;
  background-image: url("/public/pexels-yankrukov-8197505.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  #homepageOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }

  #homepageMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: scheme.$light-text-color;

    h2 {
      font-size: 3rem;
      margin-block: 20px;
    }

    p {
      font-size: 20px;
    }

    button {
      outline: none;
      background: transparent;
      border: 1px solid scheme.$light-text-color;
      color: scheme.$light-text-color;
      font-weight: bold;
      padding: 15px 30px;
      font-size: 15px;
      margin-top: 20px;
      border-radius: 10px;
      transition: transform 0.25s;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        background-color: scheme.$light-text-color;
        color: scheme.$quaternary-color;
        border: 1px solid scheme.$light-text-color;
      }
    }
  }
}